name: Check build and tests

on:
  push:
    branches:
      - master_1

  pull_request:

  pull_request:

jobs:
  check:
    name: Check per OS
    strategy:
      matrix:
        os: [linux]
      fail-fast: false
    with:
      os: ${{ matrix.os }}
      artifacts_version: ${{ github.sha }}
      catboost_package_version: 1.2.7
    uses: ./.github/workflows/check_per_os.yaml
